  body
    {
        margin-left:auto;
        margin-right:auto;
        width:760px;
        }
    header
    {   
        text-align:center;
        height:100px;
        border-top-width:3px;
        border-left-width:3px;
        border-right-width:3px;
        border-bottom-width:0px;
        border-style:solid;        
        }
    footer
    {               
        height:100px;
        border-top-width:0px;
        border-left-width:3px;
        border-right-width:3px;
        border-bottom-width:3px;
        border-style:solid;
        }
    #midmid
    {
        padding-top:25px;
        float:left;
        width:392px;
        height:350px;
        border-top-width:0px;
        border-left-width:0px;
        border-right-width:0px;
        border-bottom-width:0px;
        border-style:solid;        
        text-align:center;
        
        }  
        
    #left
    {
        float:left;
        width:180px;
        height:350px;
        border-top-width:3px;
        border-left-width:1px;
        border-right-width:3px;
        border-bottom-width:3px;
        border-style:solid;    
        border-color:White;    
        }
    #right
    {
        float:left;
        width:180px;
        height:350px;
        border-top-width:3px;
        border-left-width:3px;
        border-right-width:1px;
        border-bottom-width:3px;
        border-style:solid;
        border-color:White; 
        }    
    #mid
    {        
        
        height:350px;
        background-color:Black;
        }
        
        
    #tabla
    {   
        position:relative;  
        top:-445px;
        left:172px;
        padding-top:10px;
        background-color:Black;
        width:400px;
        height:320px;
        border-style:solid;
        border-width:3px;
        border-color:White;
        
        padding-left:10px
        }
    .mid_broj
    {   
        border-top-color:#206876;
        border-left-color:#206876;
        border-bottom-color:#123E42;
        border-right-color:#123E42;
        position:relative;
        float:left;      
        border-style:solid;
        border-width:2px;
        background-color:#015666;
    }
    
    #kankan
    {        
        visibility:hidden;        
        width:415px;
        height:330px;
        position:relative;  
        top:-779px;
        left:172px;       
        
    }
    
    
    
    
 #loading
{
   width:760px;
   height:500px;
   background-image:url('../images/prelazDiv.jpg') ;
   text-align:center;
   z-index:100;
   position:absolute;
}
#logoKeno
{
    width:40%;
    margin-top:20px;
}
#loadingText
{
    color:White;
    font-size:40px;
    text-align:center;
    top:-40px;
    margin-left:10px;
    
}

#logoComTrade
{
    height:50px;
    margin-top:0px;
    margin-right:-600px;
}
#osnovna
{
   visibility:hidden;
  
}

#pause
{    
    display:none;
    z-index:55;
    background-image:url('../images/pauza.png');
    position:relative;
    top:-1282px;
}

#fb-root 
{    
    border-style:solid;
    border-width:2px;
    top:-668px;      
    height:50px;
    position:relative;
    text-align:center;   
}
.fb-buttons
{    
    float:left;
    width:200px;      
    height:40px;
    background-color:#015666;
    border-radius: 5px; 
    
    
}

#fb_dugmad-preroot
{
    padding:5px;
    margin-left:auto;
    margin-right:auto; 
    width:420px;
}

.fb-buttons a
{
    color:White;
    text-decoration:none;
    font-family:Impact;
    line-height:40px;
}
#fb-call
{
    margin-right:10px;
}
#fb-post
{
    margin-left:10px;
}


.fb-buttons:hover
{
    background-color:#87b9c2;
}