<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="Either"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="edit12.comtrade.com" value="80"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>